html, body {
  margin: 20px;
  background-color: #fafafa;
}

.padded {
  padding: 10px;
}

.navbar {
  background-color: #59adeb;
}

.navbar a {
  color: #c5e2f8;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #59adeb;
}

#user_index {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

#timeline_header {
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}

#user_profile {
  float: right;  
  border-style: solid;
  border-width: 1px;
  border-color: #e1e1e1;
  border-radius: 10px;
}

#user_profile img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#user_profile_table {
  border-collapse: collapse;  
}

#user_profile_table td {
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #e1e1e1;
}

#compose_tweet {
  margin: 10px
}

#user_timeline {
  float: right;
  width: 60%;
  margin-left: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #e1e1e1;
  border-radius: 10px;
  background-color: #ffffff;
}

.tweet {
  border-style: solid;
  border-width: 1px;
  border-color: #e1e1e1;
  margin-top: -1px;
  margin-bottom: -1px;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
}

.tweet_detail {
  width: 100%;
  color: #9aaab4;
}

.tweet_timestamp {
  text-align: right;
}

.tweet_profile_pic {
  width: 50px;
}

.tweet_profile_pic img {
  border-radius: 5px;
  padding-right: 10px;
}

.fullname {
  font-weight: bold;
  color: #000000;
}

.twitter_handle {
  color: #9aaab4;
}
