

<div class="page-header">
  <h1>Welcome to TwitterMini</h1>
</div>

<ul>
  <li>Use the navbar to look around {{fa-icon "arrow-up"}}</li>
  <li>Click a user in the top right to "become" that user - there's no login</li>
  <li>Tweets are sent to all users in real time - thanks Firebase!</li>
</ul>